#!/bin/bash 

module load gcc
module load cuda/12.2
module load cudnn/8.9-cuda-12.1

export PYTHONBREAKPOINT=ipdb.set_trace
export PYTHONPATH=$PYTHONPATH:multi_illumination:diffusers/src # todo
conda activate csir # todo once i confirm that this env works, rm -r .venv