__pycache__

/.venv/
/colmap/
/output*/
/_output*/
/output_*/
/renders*

/multilum_images/
/tmp*/
/samples
/sweep_videos
/sweep_samples

/*.ignore/
/*.ignore.*

/*.jpg
/*.zip
/*.png
/*.mp4 
*.safetensors

/.aim/
OAR.*.stderr
/.envrc
OAR.*.stdout
*.std
/queue.log
/colmap 
/multilum_images

/PROTOCOL.md
/TODO.md